$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

$primary-color: #f7c04a;
$font-color: #181818;
$primary-light-border: 1px solid rgba(0, 0, 0, 0.1);

$primary-fonts: "Be Vietnam Pro", sans-serif;
