@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:not(.read-more) {
  color: #181818;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.5;
  color: #181818;
}

.container {
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 4rem;
  }
}

.button {
  display: block;
  text-align: center;
  border: 1px solid #f7c04a;
  padding: 1rem 2rem;
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  transition: 0.2 ease-in-out;
  cursor: pointer;
  margin: 2rem auto;
  font-weight: bold;
}

.button:hover {
  padding: 1rem 2rem;
  border-radius: 50px;
  outline: none;
  background-color: #f7c04a;
  color: white;
}

/* HEADER START */
.header {
  display: flex;
  position: fixed;
  width: 90%;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.header span {
  color: #f7c04a;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-list a {
  text-decoration: none;
  color: #181818;
}

.nav-list a:hover {
  color: #f7c04a;
}

.nav-list .active {
  color: #f7c04a;
}

@media (max-width: 576px) {
  .navigation[data-visible] {
    display: block;
  }

  .navigation {
    display: none;
    max-width: 25rem;
    position: fixed;
    top: 5.5rem;
    right: 0;
    background-color: white;
    border-radius: 10px;
    padding: 2em 4em;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav-list {
    flex-direction: column;

    align-items: center;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../images/icon-close.svg");
  }

  .mobile-nav-toggle {
    display: block;
    right: 4rem;
    border: 0;
    background: transparent;
    padding: 0.5rem;
    cursor: pointer;
    width: 1.65rem;
    aspect-ratio: 1;
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
/* HEADER END */

/* HOME START */
.home {
  height: 100vh;
  padding-top: 50px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }
}

.home-description {
  text-align: center;
}

@media (min-width: 768px) {
  .home-description {
    max-width: 40%;
    text-align: left;
  }
}

.home-description h1 {
  color: #f7c04a;
  font-size: 48px;
  margin-bottom: 10px;
}

.home-description p {
  font-size: 18px;
}

.home-description p:last-child {
  font-size: 16px;
  font-weight: 300;
}

/* HOME END */

/* ARTICLE START */
.article-container {
  padding-top: 8rem;
  display: flex;
  gap: 20px;
}

@media (max-width: 992px) {
  .article-container {
    flex-direction: column;
  }
}

article {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-block: 1rem;
  gap: 2rem;
  padding: 1.5rem;
}

.article-image img {
  border-radius: 20px;
  width: 300px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  article {
    padding: 1rem;
    flex-direction: column;
  }

  .article-image img {
    width: 100%;
  }
}

.top-description {
  font-size: 12px;
  font-weight: 300;
}

.top-description span {
  padding: 0.1rem 0.7rem;
  background-color: #f7c04a;
  border-radius: 20px;
  margin-right: 5px;
}

.middle-description {
  padding-block: 1.5rem;
}

.middle-description a {
  text-decoration: none;
}

.middle-description a:hover {
  color: #f7c04a;
}

.middle-description h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.middle-description p,
.bottom-description p {
  font-size: 12px;
}

.bottom-description > figure {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bottom-description img {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}
/* ARTICLE END */

/* WRITER SIDEBAR START */
@media (min-width: 768px) {
  aside {
    flex-shrink: 0;
  }
}

.writer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-block: 1rem;
}

.writer-image {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 100px;
  position: relative;
}

.writer-image img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  border: 1px solid white;
}

.writer-description {
  padding: 4rem 1rem 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.writer-description ul {
  text-align: center;
  list-style: none;
}

.writer-description li:not(:first-child) {
  font-size: 14px;
}

.writer-socmed {
  padding: 1rem;
}

.writer-socmed ul {
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 20px;
}

.socmed-list i {
  transition: 0.3s ease-in-out;
}

.socmed-list a:hover i.fa-instagram {
  color: #e1306c;
  transform: translateY(-3px);
}

.socmed-list a:hover i.fa-linkedin {
  color: #0077b5;
  transform: translateY(-3px);
}

.socmed-list a:hover i.fa-github {
  color: #842484;
  transform: translateY(-3px);
}
/* WRITER SIDEBAR END */

/* GALLERY START */
.gallery {
  padding-block: 8rem;
}

.box-gallery {
  padding-block: 1rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.box-gallery img {
  flex-grow: 1;
  width: 20%;
}
/* GALLERY END */

/* FOOTER START */
footer {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  background-color: #f7c04a;
  /* border-top: 0.5px solid #f7c04a; */
}

@media (max-width: 576px) {
  .box-gallery img {
    flex-shrink: 0;
    width: 40%;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* FOOTER END */
