@use "../abstracts/variables" as var;
@use "sass:map";
@use "../abstracts/mixins" as mix;

article {
  border: var.$primary-light-border;
  border-radius: 5px;
  text-align: left;
  padding: 1.5rem;
  margin-block: 1rem;

  .article-image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    @include mix.centering-image();
  }

  &.list-articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .article-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .bottom-content figure {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .middle-content h1 {
        font-size: 24px;
        margin-bottom: 0.5rem;
      }

      .middle-content p,
      .bottom-content p {
        font-size: 12px;
      }

      .bottom-content img {
        @include mix.centering-image();
        @include mix.rounded-image($size: 35px);
      }
    }
  }
}

@media screen and (min-width: map.get(var.$breakpoints, "md")) {
  article.list-articles {
    flex-direction: row;

    .article-image {
      flex-basis: 35%;
    }

    .article-content {
      flex-basis: 65%;
    }
  }
}
